section#main-column.dashboard
	div#about
		h1 
			span MKR1000
			span  Plant Monitoring System
		p This system will be using the <a href="https://www.arduino.cc/en/Main/ArduinoMKR1000" class="mkr-link">Arduino MKR1000</a> running the latest Standard Firmata Wifi sketch. The Firmata library allows us access to the board via a Node app using <a href="http://johnny-five.io" class="j5-link">Johnny-five.io</a>.
	div#sensorValues
		div.sensor-values
			div.volts 12.0
			label Volts
		div.sensor-values
			div.amps 0.7
			label Amps
		div.sensor-values
			div.moisture 1
			label Moisture
		
	div#sensorData